.menu_list {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  margin-bottom:20px;
}

.menu_list_item {
  padding: 20;
  font-size: 30px;
  width: 100%;
  text-align: center;
  transition: 0.12s;
  cursor: pointer;
}

.item_active {
  color:black;
}

.item_inactive {
  color:gray;
}

.item_inactive:hover {
  color:black;
}
