.app_container {
  /* outline: 1px solid black; */
  /* height:60vh; */
  height: 100%;
  display: flex;
  /* position:absolute; */
  /* top:50%; */
  /* transform: translate(0, -50%); */

  /* justify-content: center; */
  align-items: center;
  width:100%;
}
