.app_container {
    /* outline: 1px solid black; */
    height:60vh;
    display: flex;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);

    /* display: flex; */
    justify-content: center;
    align-items: center;
    width:100%;
    padding:50px;
}