.input_container{
  width: 100%;
  display: flex;
}

.button_container {
}

.camera_control {
  margin-top: 5%;
  margin-bottom: 5%;
  padding:5%;
  border-radius:5px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
