body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --hover-color: rgb(242, 242, 242);
}

.menu {
  justify-content: center;
  align-items: center;
  display: flex;
  /* flex-direction:column; */
  font-size: 28px;
  height: 100%;
}

.alignment-container {
  position:relative;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alignment-image {
  width:100px;
}

.alignment-controls {
  display: flex;
  flex-direction: row;
}

.image-canvas {
  width:100%;
}

.image-canvas:hover {
  cursor:grab;
}

MuiButtonGroup-root {
  margin-top:6px !important;
  margin-bottom:6px !important;
}

.MuiButton-outlined {
  text-transform: lowercase !important;
}

.MuiTextField-root {
  /* margin-top:6px !important; */
  /* margin-bottom:6px !important; */
  background-color: white !important;
}

.canvas-controls {
  position:absolute;
  top:0;
  right:0;
}

.FilledInput{
  background-color: red;
}

.canvas-zoom {
  position:absolute;
  top:100%;
  left: 0;
  transform:translate(0, -100%);
}

