.camera_window {
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #EEEEEE;
  height: 100%;

  display:flex;
  align-items: center ;
  justify-content: center;

  resize: horizontal;
  overflow: auto;
}

.camera_stream_container {
  width: 80%;
}

.camera_frame {
  width: 50%;
  height:auto;
}

img {
  width:100%;
  height: auto;
}

